body {
    font-family: 'Roboto', sans-serif;

}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.login {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img {
    margin-top: 72px;
    width: 130px;
}

.login-area {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-area input {
    width: 261px;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.login-area button {
    width: 109px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    background: #E7E7E7;
    border-radius: 9px;
}
.login-area button:hover {
    background: #c4c4c4;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #9D321E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.site {
    background-color: #f3f3f3;
    height: 100vh;
    position: relative;
}


.menu {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
}

.close-menu{
    height: 100%;
    width: 30%;
}

nav {
    display: flex;
    background-color: white;
    width: 70%;
    height: 100vh;
    
}

.hidden {
    display: none;
}

header {
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header ion-icon {
    font-size: 50px;
    padding: 20px 20px;
}

header img {
    height: 53px;
    padding: 20px 20px;
}

section {
    box-sizing: border-box;
    padding-top: 26px;
    height: calc(100vh - 160px);
    overflow: scroll;
}

.message-container {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-content {
    display: inline;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 4px;
    flex-wrap: wrap;
}

.time {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color:
        #AAAAAA;
}

.message {
    background-color: white;
}

.status {
    background-color: #DCDCDC;
}

.private-message {
    background-color: pink
}

.message-from {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.message-to {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.message-text {
    display: inline;
    overflow-wrap: break-word;
}

nav {
    display: flex;
    flex-direction: column;
}

nav .header,.visibility {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,.visibility span {
    width: 65%;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}
.visibility span{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

nav .users, ion-icon {
    font-size: 35px;
}


nav .users-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 200px;
}

nav .user-container,.message-type-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    margin-bottom: 5px;

}

nav .user-container .send-to {
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

nav .message-type-container .send-to {
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

nav .icon-name,.icon-type {
    display: flex;
    overflow: hidden;
}

nav .check {
    margin-left: 5px;
    font-weight: 700;
    color: #28BB25;
    font-size: 10px;
}
nav .check ion-icon {
    font-size: 15px;
}

footer {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

footer input {
    outline: none;
    border: none;
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

footer input::placeholder {
    color: black;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

footer ion-icon {
    font-size: 30px;
}